<section style="height: 83%" class="about-me">
    <div style="height: 83%"  class="container">
        <div class="about-me-left">
            <div>
                <h3>关于我</h3>
                <HR align=left width=80% color=#C9C9C9 SIZE=1 style="height: 1px;">  
                <h5>
                    <ul style="line-height: 30px;">
                        <li>杨上尉，男，90 后，Progrommer。</li>
                        <li>曾就职于同花顺的iOS开发一职。曾开发过 <a target="view_window" href="https://itunes.apple.com/cn/app/tong-hua-shun-ai-ji-jin-tian/id641426648?mt=8">同花顺爱基金项目</a>。</li>
                        <li>最近痴迷于Golang，Geek 喜欢倒腾。</li>
                        <li>前端酱油开发</li>
                        <li>大学期间的ACMer，倒腾过算法，数据结构。</li>
                        <li>喜欢技术，自学能力较强。</li>
                        <li>该博客采用Beego + MySQL搭建。页面简陋，见怪不怪。</li>
                    </ul>
                </h5>
            </div>
            <div style="margin-top: 50px">
                <h3>联系方式</h3>
                <HR align=left width=80% color=#C9C9C9 SIZE=1 style="height: 1px;">  
                <h5>Email:DavidCapCN@outlook.com</h5>
            </div>
        </div>
    </div>
</section>